.experience-img {
    width: 100%;
    position: relative;
    display: inline-block; // Dopasowanie do obrazka
    margin: 0 auto;
    img {
        display: block;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }

    .text-overlay {
        font-size: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; // Dostosuj kolor
        font-weight: bold;
        display: flex;
        flex-direction: column; // Układa spany jeden pod drugim
        gap: 5px; // Odstęp między spanami
        opacity: 0;
        transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    }
    &.in-view .text-overlay {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    .text-overlay h2 {
        font-size: 40px;
        font-weight: 500;
    }
    .text-overlay h1:first-child {
        color: $primary-color;
        line-height: 5px;
    }
}

.about-text {
    padding: 35px 0px;
    h1 {
        margin-bottom: 20px;
        color: $primary-color;
    }
}