.form {
  width: 100%;
    padding: 5%;
    background-image: url(../img/form/form-secton.jpg);
    background-size: cover;
    background-position: top;
    text-align: center;
    display: flex;
    justify-content: space-between;

    .title-container {
      width: 45%;
      display: none;
      background-color: $primary-color;
      padding: 1%;
      text-align: start;
      line-height: normal;
      h2 {
        font-size: 5rem;
        margin-bottom: 2rem;
        span {
          color: $secondary-color;
          font-size: 3rem;
        }
      }
      h4 {
        font-size: 2rem;
      }
    }
    .form-container {
      width: 100%;
      padding: 0 5%;
    }
}


.form-group {
    label {
        display: inline;
        position: absolute !important;
        width: 1px; 
        height: 1px; 
        padding: 0; 
        margin: -1px; 
        overflow: hidden; 
        clip: rect(0, 0, 0, 0); 
        white-space: nowrap; 
        border: 0;
    }
    input, select, textarea {
        width: 100%;
        height: 53px;
        padding: 10px 10px;
        border: 5px solid $primary-color;
        margin-bottom: 20px;
    }
    input::placeholder {
        color: $secondary-color;
        
    }
    select {
        width: 100%;
        height: 53px;
        padding: 10px 10px;
        border: 5px solid $primary-color;
        position: relative; // dla bezpieczeństwa
        z-index: 1;
      
        &:focus {
          border-color: darken($primary-color, 10%);
        }
      }
      textarea {
        width: 100%;
        height: 200px;
        padding: 10px 10px;
        border: 5px solid #e7196a;
        background-color: #fff;
        color: #000;
        outline: none;
        resize: vertical;
    
        &:focus {
          border-color: darken($primary-color, 10%);
        }
    
        &::placeholder {
          color: $secondary-color;
        }
      }
}

.submit-btn {
    width: 100%;
}


@media  (min-width: 1024px) {

  .form { 
    .title-container {
      display: block;
    }
    .form-container {
      width: 50%;
      padding: 0;
      form {
        display: flex;
        flex-direction: column;
        button {
        max-width: 220px;
        align-self: flex-end;
      }
      }
    }
  }
}
