.about {
    width: 100%
}

.team {
    width: 100%;
    padding: 40px 5%;
    background-image: url(../img/section-team.jpg);
    background-size: cover;
    background-position: top;
    text-align: center;
}

.team-header {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}

.person-box {
    margin-top: 40px;
    padding: 36px 30px;
    text-align: center;
    background-color: $secondary-color;
    border: 7px solid $primary-color;
    .person-img {
        width: auto;
        height: 150px;
        margin: 0 auto;
    }
}

.person-name {
    color: $primary-color;
    margin-top: 20px;
}

.person-img--magda {
    width: 100%;
    background-image: url(../img/magda.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.person-img--robert {
    width: 100%;
    background-image: url(../img/robert.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.puzzle-hand {
    max-width: 300px;
    height: 290px;
    margin-top: 50px;
}
@keyframes slideIn {
    from {
        transform: translateX(310px);
    }
    to {
        transform: translateX(55px);
    }
}



// ***********TABLET MEDIA QUARIES************

@media  (min-width: 425px) {

    .team {
        padding: 40px 10%;
    }
    .person-img{
        height: 300px;
    }

}

@media  (min-width: 780px) {

    .about {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        .experience-img {
            width: 50%;
        }
        .about-text {
            font-size: 1.3rem;
            padding: 0;
        }
    }
    
    .team-container {
        padding: 40px 10%;
    }

    .person-img {
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
    }
}

@media  (min-width: 1024px) {

    .team-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        .person-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            .person-img {
                width: 40%;
                min-height: 250px;
            }
            .person-description {
                width: 60%;
            }
        }
    }
}