.navbar {
    width: 100%;
    padding: 20px 20px;
    .navbar-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .language-select {
        height: 46px;
        width: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
    }
    span {
        width: 30px;
        height: 20px;
        margin-right: 2px;
       font-size: $btn-size;
       line-height: 1.3;
       min-height: 1.3em;
       font-weight: $btn-weight;
    }
    .collapse-arrow {
        width: 16px;
        height: 23px;
    }
    .navbar-right {
        display: flex;
        align-items: center;
        .phone-btn {
            height: 33px;
            width: 33px;
        }
        .hamburger-btn {
            width: 37px;
            height: 33px;
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .hamburger-lane {
                width: 100%;
                height: 6px;
                background-color: $primary-color;
            }
        }
    }
}